<div class="fullscreenDiv">
    <div class="responseArea" #responseArea>
      <div class="responseAreaText" #responseAreaText>
        {{response}}
      </div>      
    </div>
    <img class="neo" width="auto" height= "auto" src="../../assets/img/neologo.png">
    <div class="bitcoach">
      <!-- Powered by: --> 
      <!-- img width="10%" height="10%" src="../../assets/img/bitcoach-logo.svg" -->
    </div>
  </div>
  
  <div class="container">
    <textarea class="textArea" #textArea maxlength="40" (keydown)="onKeydown($event)">{{query}}</textArea>
    <div class="loader" #loader hidden="true"></div>
  </div>
  
  <div class="fullscreenDiv" #splashScreen>
    <div class="loading-pulsate" #initBlock>{{initMsg}}</div>
  </div>
  
  